/* main color text - #757575 */
/* title color text - #212121 */
/* footer contact color text - rgba(255, 255, 255, 0.6); */
/* accent - #2196f3 */
/* white color - #ffffff */
/* intermediate background-color - #f5f4fa */
/* secondary background-color - #2f303a */
/* hover main btn - #188ce8 */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --footer-contact-text: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --intermediate-background-color: #f5f4fa;
    --secondary-background-color: #2f303a;
    --hover-main-btn: #188ce8;
    --font-family-primary: 'Roboto', sans-serif;
    --border-color: #ececec;
    --border-portfolio-color: #eeeeee;
}


/* Normalize */
html {
    box-sizing: border-box;
}
*, 
*::before, 
*::after{
    box-sizing: inherit;
}

/* Base */
body {
    color: var(--primary-text-color);
    font-family: var(--font-family-primary);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    background-color: var(--primary-white-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 15px;
    padding-right: 15px;
}

.head-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.nav {
    width: 1600px;
    border-bottom: 1px solid var(--border-color);
}


/* logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-web {
    color: var(--accent-color);
}

.logo-studio {
    color: var(--title-text-color);
}

/* navigation */

.nav-list {
    align-items: center;
    color: var(--title-text-color);
    font-weight: 500;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-link {
    color: inherit;
    text-decoration: none;
    padding-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.nav-list-link.current {
    color: var(--accent-color);
}

.nav-list-link.current:hover {
    color: var(--accent-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.contact-link:hover,
.contact-link:focus,
.address-map-link:hover,
.address-map-link:focus,
.adress-contact-link:hover,
.adress-contact-link:focus {
    color: var(--accent-color);
}

.contact {
    color: var(--primary-text-color);
    font-weight: 500;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.contact-link {
    color: inherit;
    text-decoration: none;
    justify-content: space-between;
    padding-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
}

.contact-link.tel{ 
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* hero */
.main-section {
    background-color: var(--secondary-background-color);
    width: 1600px;
    height: 600px;
}

.main-title{
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.main-btn {
    background-color: var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: var(--font-family-primary);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 32px;
    margin-top: 30px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-btn:hover,
.main-btn:focus {
    background: var(--hover-main-btn)
}

.hero-subtitle {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.hero-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

}

.hero-list > .item{
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    margin-top: 94px;
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.work-pictures-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 94px;
}

.work-pictures-list > .item{
    flex-basis: calc(100% / 3);
}


.team {
    background-color: var(--intermediate-background-color);
}

.section-title{
    margin: 0;
    padding-top: 94px;
    padding-bottom: 50px;
}

.team-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 94px;
}

.member-team {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member-team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.member-team-descr {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* Page portfolio */
.filter-btn {
    background-color: var(--intermediate-background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.filter-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 94px;
    margin-bottom: 0;
    padding-left: 0;
}

.filter-list > .item{
    margin-right: 8px;
}

.filter-sample{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-left: 0;
}

.filter-sample > .item{
    border: 1px solid var(--border-portfolio-color);
    margin-bottom: 30px;
}

.filter-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.filter-descr {
    font-size: 16px;
    line-height: 1.88;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

footer {
    background-color: var(--secondary-background-color);
    list-style: none;
    width: 1600px;
    height: auto;
}

.container.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-studio-footer {
    color: var(--primary-white-color);
}

.address-list {
    list-style: none;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 9px;
    padding-bottom: 9px;
}

.address-map {
    color: var(--primary-white-color);
    padding-bottom: 9px;
}

.address-map-link {
    color: inherit;
    text-decoration: none;
}

.address-contact {
    color: var(--footer-contact-text);
    padding-bottom: 9px;
}

.adress-contact-link {
    color: inherit;
    text-decoration: none;
}
